<!-- <div>
    <app-loader></app-loader>
</div> -->


<div class="medio">
    <article>
        <img src={{anime?.images.jpg.image_url}} alt="">
        <div class="abajo">
            <h4>{{anime?.title}}</h4>

            <p class="ep"><span>Sipnosis: </span> {{anime?.synopsis}}</p>
            <div class="cama"><p class="blu">{{anime?.genres[0].name}}</p>&nbsp; <p class="blu">{{anime?.genres[1].name}}</p> &nbsp; <p class="blu">{{anime?.genres[2].name}}</p></div>
            <div>
                <div class="cama"><span>Año: </span><p>{{anime?.year}}</p></div>
                <div class="cama"><span>Episodeos: </span><p>{{anime?.episodes}}</p></div>
            </div>
            <p-button (click)="GuardaItem(anime)" type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
        </div>

    </article>
</div>
