<article class="container">

        <div class="glass">
            <img src="/assets/shadow.webp" alt="">
            <div class="over">
                <div class="conten">
                    <h4>Kage no Jitsuryokusha ni Naritakute!</h4>
                </div>
            </div>
        </div>
        <div class="glass">
            <img src="/assets/over.webp" alt="">
            <div class="over">
                <div class="conten">
                    <h4>Overlord</h4>
                </div>
            </div>
        </div>
        <div class="glass">
            <img src="/assets/stain.png" alt="">
            <div class="over">
                <div class="conten">
                    <h4>Steins Gate</h4>
                </div>
            </div>
        </div>
        <div class="glass">
            <img src="/assets/Lelouch.png" alt="">
            <div class="over">
                <div class="conten">
                    <h4>Code Geass</h4>
                </div>
            </div>
        </div>
</article>
